#cart-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 35%;
    height: 100vh;
    z-index: 1;
    translate: 100% 0;
    transition: translate 0.4s ease-in-out;
    overflow: scroll;

    #cart-menu-items {
        font-size: 2em;
        display: flex;
        flex-direction: column;
        width: 75%;
        justify-content: center;
        text-align: center;
        font-family: 'T-Star Regular';
        margin: 0.5em 0;
    }
}

#close-cart {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 3em;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

#cart-menu-header {
        width: 100%;
        text-align: center;
        font-size: 4em;
        font-family: 'T-Star Bold';
        margin-top: 0.25em;
        color: var(--off-black);
}

.open {
    translate: 0%;
}

#cart-login {
    font-family: T-Star Bold;
    background-color: #ffffff;
    border: 2px solid var(--off-black);
    transition: 0.5s;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 5vw;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1em;
    padding: 1.5vh 5vw;

    &:hover {
        cursor: pointer;
        background-color: var(--off-black);
        color: #ffffff;
    }
}


#cart-noodles {
    position: absolute;
    top: 20%;
    height: 25vh;
    animation: float 2.5s ease-in-out infinite;
}

#cart-menu-subtotal {
    font-family: T-Star Bold;
    display: flex;
    width: 68%;
    font-size: 1.5em;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

#cart-menu-checkout {
    font-family: T-Star Bold;
    background-color: #ffffff;
    border: 2px solid var(--off-black);
    transition: 0.5s;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 5vw;
    font-size: 1em;
    padding: 1.5vh 5vw;
    margin-bottom: 2em;

    &:hover {
        cursor: pointer;
        background-color: #53d853;
        color: var(--off-black);
        border-color: #53d853;
        transform: scale(1.1);
    }
}

#checkout-modal {
    position: absolute;
    width: 30vw;
    height: 20vh;
    top: 36vh;
    background: #ffb8b0;
    left: 31vw;
    font-size: 1.5em;
    font-family: 'T-Star Bold';
    padding: 1.5em;
    transition: 0.4s;
    display: none;

    p {
        font-family: T-Star Regular;
    }
}

#modal-header {
    font-size: 1.5em;
    margin: 0.5em 0;
}

#close-modal {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 2em;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

#cart-background,
#modal-background {
    position: fixed;
    width: 100vw;
    background-color: #000000;
    height: 100vh;
    z-index: -2;
    opacity: 0.4;
    display: none;
}



@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media all and (max-width: 900px) {
    #cart-menu {
        width: 45%;
    }
}

@media all and (max-width: 650px) {
    #cart-menu {
        width: 100%;
    }
}

@media all and (max-width: 1000px){
    #checkout-modal {
        width: 32vw;
        height: 25vh;
        left: 30vw;
        font-size: 1.3em;
    }

}

@media all and (max-width: 650px) {
    #checkout-modal {
        width: 50vw;
        height: 25vh;
        font-size: 1.2em;
        left: 19vw;
    }
}