.product-show-container {
    display: flex;
    align-items: center;
}

#product-show-image {
    img {
        height: 80vh;
        margin: 15vh 5vw;
        border-radius: 5vw;
    }
}

.product-show-quantity {
    border: 2px solid #000;
    border-radius: 5vh;
    display: flex;
    font-size: 1em;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-top: 0.5vh;
    overflow: hidden;
    width: 9em;
    height: 2em;

    #product-show-quantity-input {
        display: flex;
        align-items: center;

        button {
                border: none;
                padding-bottom: 0.25em;
                background-color: transparent;
                font-size: 2em;
                font-family: "T-Star Regular";
                transition: 0.3s;
                text-align: center;
        
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    background-color: var(--off-black);
                    color: white;
                }
        
                &:focus {
                    transform: scale(1.2);
                }
            }

        input {
            text-align: center;
            border: none;
            width: 6.3em;
            height: fit-content;
            font-family: T-Star Bold;
        }
    }
}

#product-show-info {
    height: 35vh;
    width: 41vw;

    div {
        margin: 2vh 0;
    }

    #product-show-name {
        font-size: 3em;
        font-family: "T-Star Bold";
        color: var(--off-black);
        text-transform: uppercase;
    }

    #product-show-desc {
        font-size: 1.3em;
        font-family: 'T-Star Regular';
        color: var(--off-black);
    }

    #product-show-price {
        font-size: 2em;
        font-family: 'T-Star Bold';
        color: var(--off-black);
        margin-bottom: 1em;
    }
}

#product-show-quantity-label {
    font-size: 0.9em;
    font-family: T-Star Regular;
}

#add-to-cart {
    font-family: T-Star Bold;
    color: var(--off-black);
    background-color: #ffffff;
    border: 2px solid var(--off-black);
    transition: 0.5s;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 5vw;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1em;
    padding: 1.5vh 5vw;

    &:hover {
        cursor: pointer;
        background-color: var(--off-black);
        color: #ffffff;
    }
}

@media all and (max-width: 1045px) {
    .product-show-container {
            display: flex;
            flex-direction: column;
    }

    #product-show-quantity-label {
        margin-top: 0.5em;
        margin-bottom: 0;
    }
    
    #product-show-image {
        img {
            height: 60vh;
            margin: 13vh 5vw;
            margin-bottom: 1vh;
            border-radius: 5vw;
        }
    }

    
    #product-show-info {
        height: 50vh;
        width: 80%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        #product-show-price{
            margin-bottom: 0.5em;
        }

        div {
            margin: 0.5em 0;
        }
    }
}

@media all and (max-width: 515px) {
    #product-show-image {
        img {
            height: 50vh;
            width: 85vw;
        }
    }
    
    .product-show-container {
        font-size: 0.8em;
    }

    #add-to-cart {
        margin-top: 1em;
    }

    .product-show-quantity {

            #product-show-quantity-input {

                input {
                    width: 4.8em;
                }
            }
    }
}
