.product-show-container {
    display: flex;
    align-items: center;
}

#product-show-image {
    img {
        height: 80vh;
        margin: 15vh 5vw;
        border-radius: 5vw;
    }
}

.product-show-quantity {
    border: 2px solid #000;
    border-radius: 5vh;
    display: flex;
    font-size: 1em;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-top: 0.5vh;
    overflow: hidden;
    width: 9em;
    height: 2em;

    #product-show-quantity-input {
        display: flex;
        align-items: center;

        button {
                border: none;
                padding-bottom: 0.25em;
                background-color: transparent;
                font-size: 2em;
                font-family: "T-Star Regular";
                transition: 0.3s;
                text-align: center;
        
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                    background-color: var(--off-black);
                    color: white;
                }
        
                &:focus {
                    transform: scale(1.2);
                }
            }

        input {
            text-align: center;
            border: none;
            width: 6.3em;
            height: fit-content;
            font-family: T-Star Bold;
        }
    }
}

#product-show-info {
    height: 35vh;
    width: 41vw;

    div {
        margin: 2vh 0;
    }

    #product-show-name {
        font-size: 3em;
        font-family: "T-Star Bold";
        color: var(--off-black);
        text-transform: uppercase;
    }

    #product-show-desc {
        font-size: 1.3em;
        font-family: 'T-Star Regular';
        color: var(--off-black);
    }

    #product-show-price {
        font-size: 2em;
        font-family: 'T-Star Bold';
        color: var(--off-black);
        margin-bottom: 1em;
    }
}

#product-show-quantity-label {
    font-size: 0.9em;
    font-family: T-Star Regular;
}

#add-to-cart {
    font-family: T-Star Bold;
    color: var(--off-black);
    background-color: #ffffff;
    border: 2px solid var(--off-black);
    transition: 0.5s;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 5vw;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1em;
    padding: 1.5vh 5vw;

    &:hover {
        cursor: pointer;
        background-color: var(--off-black);
        color: #ffffff;
    }
}

@media all and (max-width: 1045px) {
    .product-show-container {
            display: flex;
            flex-direction: column;
    }

    #product-show-quantity-label {
        margin-top: 0.5em;
        margin-bottom: 0;
    }
    
    #product-show-image {
        img {
            height: 60vh;
            margin: 13vh 5vw;
            margin-bottom: 1vh;
            border-radius: 5vw;
        }
    }

    
    #product-show-info {
        height: 50vh;
        width: 80%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        #product-show-price{
            margin-bottom: 0.5em;
        }

        div {
            margin: 0.5em 0;
        }
    }
}

@media all and (max-width: 515px) {
    #product-show-image {
        img {
            height: 50vh;
            width: 85vw;
        }
    }
    
    .product-show-container {
        font-size: 0.8em;
    }

    #add-to-cart {
        margin-top: 0.5em;
    }

    .product-show-quantity {
            #product-show-quantity-input {
                input {
                    width: 4.8em;
                }
            }
    }
}

@media all and (max-width: 670px) {
    #product-show-info {
        height: 53vh
    }
}

#headlines-section {
    height: 100vh;
    background: #ffb8b0;
    height: fit-content;
    overflow: hidden;
}

#headlines-title {
    text-align: center;
    padding: 2em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    font-family: 'T-Star Regular';
}

#headlines-text {
    align-items: center;
    font-size: 2.3em;
    font-family: T-Star Bold;
    display: grid;
    grid-template-columns: 60% 40%;
    letter-spacing: 0.06em;
    justify-content: center;
    width: 80vw;
    margin: auto;
    padding: 1em;

    img {
        scale: 0.7;
        width: 5vw;
        transform: translate(0.5em, 0.5em);
    }

    li {
        list-style-type: none;
        margin-bottom: 1em;
    }
}


@media all and (max-width: 775px) {
    #headlines-text {
        font-size: 1.6em;
        padding-top: 1.5em;
        img {
            scale: 1.3;
            transform: translate(0, 0);
        }
    }
}

#nutrition-section {
    height: 80vh;
    background: #ffffff;
    overflow: hidden;
    display: flex;
}

#nutrition-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 35em;
    margin-top: 3em;
    margin-right: 1em;
    img {
        scale: 0.9;
    }
}

#nutrition-text {
    display: flex;
    flex-direction: column;
    font-family: T-Star Regular;
    color: var(--off-black);
    text-align: left;
    justify-content: center;
    margin-left: 5em;
    
    #nutrition-title {
        font-size: 5em;
        font-family: T-Star Bold;
        margin-bottom: 0.2em;
    }
    
    #nutrition-p {
        font-size: 1.5em;
        line-height: normal;
        margin-bottom: 0.5em;
    }
}


@media all and (max-width: 1090px) {
    #headlines-text {
        font-size: 2.5em;
        grid-template-columns: 100%;
        width: 100%;
        padding: 2em 1em;
        margin: 0;
    }

    img {
        scale: 1;
    }

    #nutrition-text {
        margin-left: 1em;

        #nutrition-title {
            font-size: 3em;
            margin-top: 1em;
            padding: 0 0.7em;
        }

        #nutrition-p {
            font-size: 1.1em;
            padding: 0 2em;
        }
    }

    #nutrition-image {
        width: 100%;
        margin: 0;
        height: fit-content;
        #nutrition-pic {
            scale: 0.8;
        }
    }

    #nutrition-section {
        flex-direction: column;
        height: fit-content;
    }
}