.search-page {
    height: max-content;
    width: 100vw;
    margin-bottom: 29vh;
}

#search-title {
    font-size: 5em;
    text-align: center;
    padding-top: 8vh;
    font-family: T-Star Bold;
    color: var(--off-black);
}

.search-items {
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    column-gap: 2vw;
    row-gap: 15vh;
    padding: 0 5%;
    margin: 8vh 0;
}

@media all and (max-width: 1090px) {
    .search-items {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5vh;
    }
}

@media all and (max-width: 800px) {
    .search-items {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5vh;
    }
}

@media all and (max-width: 700px) {
    #search-title {
        font-size: 4em;
    }
}