#splash-img {
   img {
        width: 24em;
        height: 24em;
        border-radius: 5%;
        margin: 0 1.5em;
   }
}

.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: T-Star Regular;
    font-size: 1.5em;
    background-color: var(--main-orange);
    padding-top: 2vh;

    #splash-text {
        margin-left: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        * {
            margin: 0.5em 0;
        }

        h1 {
            font-size: 3em;
            margin-bottom: 0;
            font-family: T-Star Bold;
        }

        #check-it-out {
            width: fit-content;
            padding: 0.5em 0;
            a {
                text-decoration: none;
                background-color: var(--off-black);
                font-family: T-Star Regular;
                color: rgb(245, 245, 245);
                font-size: 1em;
                padding: 1.5vh 2vh;
                border-radius: 10em;
                transition: 0.5s;

                &:hover {
                    background-color: var(--main-orange);
                    color: var(--off-black);
                    border: 1px solid var(--off-black);
                }
            }
        }
    }
}

@media all and (max-width: 1050px) {
    .splash {
        flex-direction: column-reverse;
        align-items: center;
        height: max-content;
        padding-top: 14vh;

        #splash-text {
            margin-left: 0.7em;
            margin-bottom: 0.5em;
            h1 {
                font-size: 2.3em;
            }
        }

        #splash-img {
            img {
                width: 15em;
                height: 15em;
                margin: 0;
            }
        }
    }
}