#product-listings {
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    justify-items: center;
    align-content: center;
    column-gap: 2vw;
    row-gap: 15vh;
    padding: 0 5%;
    margin: 10vh 0;
}

@media all and (max-width: 1060px) {
    #product-listings {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5vh;
    }
}

@media all and (max-width: 800px) {
    #product-listings {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5vh;
    }
}

// get new photos for mushrooms, wooden bowl, chopsticks and sesame 