#product-listings {
    display: grid;
    justify-content: center;
    align-items: baseline;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    column-gap: 2vw;
    row-gap: 15vh;
    padding: 0 5%;
    margin: 10vh 0;
}

@media all and (max-width: 1090px) {
    #product-listings {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5vh;
    }
}

@media all and (max-width: 800px) {
    #product-listings {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5vh;
    }
}

#product-header{
    font-size: 5em;
    text-align: center;
    margin-top: 8vh;
    font-family: T-Star Bold;
    color: var(--off-black);
}

#product-slider {
    display: inline-flex;
    width: 100vw;
    height: 8.5vh;
    font-size: 3em;
    color: #e9e9e9;
    letter-spacing: 0.03em;
    font-family: T-Star Bold;
    white-space: nowrap;
    text-align: center;
    padding-top: 0vh;
    animation: slidingText 15s linear infinite;

    p {
        background-color: black;
        padding: 1.8vh;
    }
}


#product-anim {
    padding-top: 9vh;
    overflow: hidden;
}

@keyframes slidingText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media all and (max-width: 700px) {
    #product-header {
        font-size: 4em;
    }
}