#nav-bar {
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    .hamburger{
        display: none;

        #burger-icon:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    #nav-bar-left {
        display: flex;
        align-items: center;
        margin-left: 2em;
        #logo {
            height: 2.5em;
        }
    }

    #nav-bar-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 35em;

        a {
            text-decoration: none;
            color: var(--off-black);
            font-size: 1.5em;
            font-family: T-Star Bold;
        }

        a:hover {
            text-decoration: underline;
        }

        #cart {
            font-size: 1.6em;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        #search {
            font-size: 1.5em;

            &:hover {
                cursor: pointer;
            }
        }

    }
}

#cart-icon, #user-icon {
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}


 #side-nav-background {
    display: none;
    position: absolute;
 }

.yellow {
    background-color: var(--main-yellow);
}

.white {
    background-color: white;
}

.red {
    background-color: #ffb8b0;
}

@media all and (max-width: 900px) {
    #nav-bar {
        justify-content: space-between;

        .hamburger{
            display: flex;
            font-size: 2em;
            color: black;
            justify-content: center;
            align-items: center;
            width: 2em;

            #close-icon {
                position: absolute;
                top: 2%;
                right: 3%;
                font-size: 1.5em;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

            .side-nav {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                background-color: white;
                position: fixed;
                text-align: center;
                top: 0;
                left: 0;
                width: 45%;
                height: 100vh;
                z-index: 1;
                transition: 0.5s ease-in-out;
                translate: -100%;
    
                a {
                    text-decoration: none;
                    color: var(--off-black);
                    font-size: 1.3em;
                    font-family: T-Star Bold;
                    margin: 0.5em 1em;
                }

                :nth-child(2) {
                    margin-top: 2em;
                }

                :nth-last-child(-n+2) {
                    font-size: 1em;
                    font-family: T-Star Regular;
                }
    
                a:hover {
                    text-decoration: underline;
                }
            }
        }

        #nav-bar-left {
            margin-left: 1em;
            #logo {
                height: 5em;
                content: url('../../assets/SmallLogo.png');
            }
        }
        #nav-bar-right {
            width: 5em;
            a {
                display: none;
            }

            #search {
                display: none;  
            }
        }
    }

    #side-nav-background {
        position: fixed;
        width: 100vw;
        background-color: #000000;
        height: 100vh;
        z-index: -2;
        opacity: 0.4;
        display: none;
    }
}

@media all and (max-width: 600px) {
    #nav-bar {
        .hamburger{
            .side-nav {
                width: 100%;
            }
        }
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

