#nav-bar {
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    z-index: 2;

    .hamburger{
        display: none;

        #burger-icon:hover {
            cursor: pointer;
        }
    }

    #nav-bar-left {
        display: flex;
        align-items: center;
        margin-left: 2em;
        #logo {
            height: 2.5em;
        }
    }

    #nav-bar-right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 35em;

        a {
            text-decoration: none;
            color: var(--off-black);
            font-size: 1.5em;
            font-family: T-Star Bold;
        }

        a:hover {
            text-decoration: underline;
        }

        #cart {
            font-size: 1.6em;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        #search {
            font-size: 1.5em;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        :nth-last-child(2):hover {
            transform: scale(1.1);
        }
    }
}

.orange {
    background-color: var(--main-orange);
}

.white {
    background-color: white;
}

@media all and (max-width: 1000px) {
    #nav-bar {
        justify-content: space-between;

        .hamburger{
            display: flex;
            font-size: 2em;
            color: black;
            justify-content: center;
            align-items: center;
            width: 2em;

            #close-icon {
                position: absolute;
                top: 2%;
                right: 3%;
                font-size: 1.5em;

                &:hover {
                    cursor: pointer;
                }
            }

            .side-nav {
                    display: none;
            
                    &.active {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        background-color: white;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 65%;
                        height: 100vh;
                        z-index: 1;
                        // transition: 0.5s ease-in-out;
                        animation: slideIn 0.5s ease-in-out;
            
                        a {
                            text-decoration: none;
                            color: var(--off-black);
                            font-size: 1.3em;
                            font-family: T-Star Bold;
                            margin: 0.5em 1em;
                        }

                        :nth-child(2) {
                            margin-top: 2em;
                        }

                        :nth-last-child(-n+2) {
                            font-size: 1em;
                            font-family: T-Star Regular;
                        }
            
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
        }

        #nav-bar-left {
            margin-left: 1em;
            #logo {
                height: 5em;
                content: url('../../assets/SmallLogo.png');
            }
        }
        #nav-bar-right {
            width: 5em;
            a {
                display: none;
            }

            #search {
                display: none;  
            }
        }
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

