.account-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;

    h1 {
        font-size: 5em;
        font-family: T-Star Bold;
        margin-top: 16vh;
        margin-bottom: 5vh;
        text-align: center;
        color: var(--off-black);
        letter-spacing: .015em;
    }

    #account-buttons {
        margin-top: 3vh;
        display: flex;
        align-items: center;

        button {
            font-family: T-Star Bold;
            color: var(--off-black);
            background-color: #ffffff;
            border: 2px solid var(--off-black);
            transition: 0.5s;
            text-align: center;
            letter-spacing: 0.03em;
            border-radius: 5vw;
            margin-bottom: auto;
            margin-top: auto;
            font-size: 1em;
            padding: 1.5vh 5vw;
        
            &:hover {
                cursor: pointer;
                background-color: var(--off-black);
                color: #ffffff;
            }
        }
    }

    #account-cartoon {
        position: absolute;
        bottom: 20%;
        left: 7%;
        height: 15em;
    }
}

#account-noodles {
    display: none;
    position: absolute;
    top: 30%;
    scale: 0.5;
}

@media all and (max-width: 768px) {
    .account-container {
        h1 {
            font-size: 3em;
        }

        #account-cartoon {
            display: none
        }

        #account-noodles {
            display: block;
        }
    }
}