.account-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;

    h1 {
        font-size: 5em;
        font-family: T-Star Bold;
        margin-top: 16vh;
        margin-bottom: 5vh;
        text-align: center;
        color: var(--off-black);
        letter-spacing: .015em;
    }

    #account-buttons {
        margin-top: 3vh;
        display: flex;
        align-items: center;

        button {
            font-size: 2em;
            font-family: T-Star Bold;
            border: none;
            background: none;
            color: var(--off-black);
        }

        button:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    #account-cartoon {
        position: absolute;
        bottom: 20%;
        left: 7%;
        height: 15em;
    }
}

@media all and (max-width: 768px) {
    .account-container {
        h1 {
            font-size: 3em;
        }

        #account-cartoon {
            display: none
        }
    }
}