#review-background  {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgb(0 0 0 / 40%);
    display: none;
}

.review-form-modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: white;
    width: 60vw;
    height: 75vh;
    font-family: T-Star Bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;

    button {
        font-family: T-Star Bold;
            color: var(--off-black);
            background-color: #ffffff;
            border: 2px solid var(--off-black);
            transition: 0.5s;
            text-align: center;
            letter-spacing: 0.03em;
            border-radius: 5vw;
            margin-left: auto;
            margin-right: auto;
            font-size: 1em;
            padding: 1.5vh 5vw;

        &:hover {
            cursor: pointer;
            background-color: var(--off-black);
            color: #ffffff;
        }
    }

    div {
        margin: 0 2em;
    }
}

#close-review-form {
    position: absolute;
    right: 0.2%;
    font-size: 3em;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

#review-header {
    text-align: center;
    margin: 0.7em;
    margin-bottom: 0.4em;
    font-size: 2.5em;
}


#review-form {
    display: flex;
    flex-direction: column;
}

#form-errors {
    color: red;
    font-size: 1.3em;
    text-align: center;
    font-family: T-Star Regular;
    text-transform: uppercase;
    margin-bottom: 0.3em;

    li {
        margin: 0.2em;
    }
}

#review-form-body {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    font-size: 1.8em;

    textarea {
        resize: none;
        border: 1px solid;
        margin: 0em;
        margin-bottom: 1em;
        font-family: T-Star Regular;
        font-size: 0.8em;
        height: 30vh;
    }
}

#review-stars {
    font-size: 1.8em;
    margin: 0 1em;
    padding-bottom: 1em;
}

#form-star {
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

@media all and (max-width: 700px) {
    .review-form-modal {
        width: 70vw;
        height: 70vh;
    }
   .review-form-modal {
       width: 80vw;
       height: 63vh;
   }

   #review-header {
       font-size: 1.6em;
   }

   #review-stars {
       font-size: 1.5em;
   }

   #review-form-body {
       font-size: 1.5em;
       textarea {
           height: 25vh;
       }
   }

   #form-errors {
       font-size: 1.1em;
   }
}

@media all and (max-width: 550px) {
    .review-item {
        font-size: 1em;
    }

    .review-form-modal {
        width: 80vw;
        height: 60vh;
    }

    #review-header {
        font-size: 1.5em;
    }

    #review-stars {
        font-size: 1.3em;
    }

    #review-form-body {
        font-size: 1.3em;
        textarea {
            height: 25vh;
        }
    }
}