.star {
    color: #ffe394;
}

.star-empty {
    color: #c4c2c2;
}

.review-item {
    width: 100%;
    font-size: 1.5em;
    border-top: 1px solid;

    &:last-child {
        border-bottom: 1px solid;
        margin-bottom: 2em;
    }

    &:first-child {
        margin-top: 1em;
    }

    div {
        margin: 0.5em 0;
    }

    #review-user {
        text-align: right;
    }
}

.review-buttons {
    text-align: right;

    svg {
        margin: 0 0.2em;

        &:hover {
            cursor: pointer;
            scale: 1.1;
        }
    }
}

