#login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 30vw;

    h1 {
        font-size: 5em;
        font-family: T-Star Bold;
        margin-bottom: 6vh;
        text-align: center;
        color: var(--off-black);
        letter-spacing: .015em;
    }

    div {
        margin: 0.2vh;
    }
}

#signup-link {
    font-size: 1.25rem;
    font-family: T-Star Regular;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    a {
        text-decoration: none;
        color: var(--off-black);
    }
}

#login-errors div {
    font-size: 1.25rem;
    font-family: T-Star Regular;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
    color: red;
}

#login-form ::placeholder {
    font-family: T-Star Regular;
}


#login-form input,
#login-form button {
    font-family: T-Star Regular;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 5vw;
    margin-bottom: 1.5vh;
    font-size: 1em;
    padding: 1.5vh 5vw;
    width: stretch;
}

#login-form button {
    font-family: T-Star Bold;
    background-color: #ffffff;
    border: 2px solid var(--off-black);
    color: var(--off-black);
    transition: 0.5s;
}

#login-form button:hover {
    cursor: pointer;
    background-color: var(--off-black);
    color: #ffffff;
}

#login-form input {
    background-color: #ececec;
    border: 0;
    outline: 0;
    text-transform: none;
}

#login-cartoon {
    position: absolute;
    width: 132px;
    height: 212.45px;
    right: 8%;
    bottom: 5%;
}

@media all and (max-width: 1024px) {

    #login-form {
        width: 60vw;
    }
    
    #login-header {
        font-size: 5em;
    }
    
    
    #login-form input,
    #login-form button,
    #signup-link {
        font-size: 1em;
        margin-bottom: 2vh;
        padding: 1.5vh 0;
        border-radius: 10vh;
    }
    
    #login-component {
        padding-top: 5vh;
    }

    #login-cartoon {
        display: none;
    }

}
